body:lang(TC),
body:lang(SC)
{
    #liveGame.BCgames .header-deco:after,
    #liveGame.BCgames .header-deco:before{
        width: 105px;
    }
    @media (min-width: 768px) {
        #allLiveGame.AllLottery .bottom-deco {
            width: 250px;
        }
    }
    @media (min-width: 992px){
        #allLiveGame .bottom-deco {
            width: 278px;
        }
        #allLiveGame.AllLottery .bottom-deco {
            width: 270px;
        }
    }
}
